* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100vh;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

a,
button,
input {
  color: inherit;
  font: inherit;
  transition: all 0.4s;
}

li {
  list-style: none;
}

input,
button {
  border: none;
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
}
